{% extends 'base.html' %}
{% block body %}
<h1>stdout.be dashboard</h1>
<table>
    <tr>
        <td>title</td>
        <td><img src="/static/images/typepad.png" /></td>
        <td><img src="/static/images/google.png" /></td>
        <td><img src="/static/images/delicious.png" /></td>
        <td><img src="/static/images/twitter.png" /></td>
    </tr>
    {% set posts = posts|dictsort|reverse %}
    {% for url, post in posts %}
    <tr class="{{ post['genre'] }}">
        <td><a href="{{ url }}">{{ post['title'] }}</a></td>
        <td></td>
        <td></td>
        <td>{{ post['old_delicious_count'] + post['delicious_count'] }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}