<div class="filter">
    <input type="checkbox" checked="checked" id="show-post" /> <label for="show-post">blogposts</label>
    <input type="checkbox" checked="checked" id="show-guestpost" /> <label for="show-guestpost">guest posts</label>
    <input type="checkbox" checked="checked" id="show-review" /> <label for="show-review">reviews</label>
    <input type="checkbox" checked="checked" id="show-print" /> <label for="show-print">print</label>
    <input type="checkbox" checked="checked" id="show-talk" /> <label for="show-talk">talks</label>
    <input type="checkbox" id="show-comment" /> <label for="show-comment">comments</label>
    <input type="checkbox" id="show-quote" id="show-quote" /> <label for="show-quote">quotes</label>
    <span class="togglebox"><input type="checkbox" checked="checked" class="toggle" /></span>
</div>
<table id="latest-writing" class="archive">
    {% for post in site.posts %}
        {% if post.layout == 'post' and post.canonical %}
            {% assign type = 'guestpost' %}
        {% else %}
            {% assign type = post.layout %}
        {% endif %}
        <tr>
            <td><a href="" class="badge {{ type }}" title="Show every {{ type }}">{{ type }}</a></td>
            <td><a href="{{ post.url }}/#summary">{{ post.title }}</a></td>
        </tr>
    {% endfor %}
</table>