---
layout: base
type: homepage
language: en
realm: blog
---

<div class="centered">
    <p id="intro">Ik ben Stijn Debrouwere, een informatie-architect uit Gent, en ik doe allerlei dingen in de mediawereld.</p>
</div>

<div id="writing" class="inset content">
    <div class="centered">
        <h2>Laatste schrijfsels <a href="" class="switch" style="display: none;">↔ most popular</a></h2>
        <div class="filter tk-ff-netto-web" style="border: 1px solid #ccc; display: inline-block; margin-bottom: 15px; padding: 5px 0 5px 10px;">
            <input type="checkbox" checked="checked" id="show-post" /> <label for="show-post">blogposts</label>
            <input type="checkbox" checked="checked" id="show-guestpost" /> <label for="show-guestpost">guest posts</label>
            <input type="checkbox" checked="checked" id="show-review" /> <label for="show-review">reviews</label>
            <input type="checkbox" checked="checked" id="show-print" /> <label for="show-print">print</label>
            <input type="checkbox" id="show-talk" /> <label for="show-talk">talks</label>
            <input type="checkbox" id="show-comment" /> <label for="show-comment">comments</label>
            <span style="display: inline-block; padding: 5px 10px; margin: -5px 0 -5px 10px; background: #bbb;"><input type="checkbox" checked="checked" class="toggle" /></span>
        </div>
        <table>
            {% for post in site.posts %}
                {% if post.layout == 'post' and post.canonical %}
                    {% assign type = 'guestpost' %}
                {% else %}
                    {% assign type = post.layout %}
                {% endif %}
                <tr>
                    <td><a href="" class="badge {{ type }}" title="Show every {{ type }}">{{ type }}</a></td>
                    <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="links" class="content">
    <div class="centered">
        <p>Je kan zien wat ik bookmark en lees op <a href="http://www.delicious.com/stdbrouw">mijn delicious-pagina</a>.</p>
    </div>
</div>

<div class="centered content">
    <h2>Projects</h2>
    <ul id="projects">
        <li><a href="http://www.camayak.com">Camayak</a>: een publicatiesysteem voor redacties die meer willen halen uit hun werk</li>
        <li><a href="http://extendables.org">Extendables</a>: een framework voor Adobe ExtendScript</li>
        <li><a href="http://github.com/stdbrouw">Een paar open-source Django apps</a>, beschikbaar via GitHub</li>
    </ul>
</div>

<div class="centered content">
    <h2>Work</h2>
    <p>Ik werk met informatie. Ik denk na over hoe informatie gemaakt wordt, opgeslagen, hoe het beweegt door een organisatie, gecategoriseerd wordt, gevonden, gemanaged en hoe je <em>al</em> die informatie op een zinnige manier aan gebruikers kan tonen. Dus mijn werk past zo ergens tussenin UX design, software bouwen en informatiewetenschap.</p>

    <h2>Stuff</h2>
    <p>Foto's op <a href="http://www.flickr.com/photos/stdbrouw/">Flickr</a>. Een niet-zo-regelmatig geupdatete tumblog met jazz en rariteiten op <a href="http://drlivingstone.tumblr.com">Dr. Livingstone, I presume?</a> Een profile op <a href="http://www.dopplr.com/traveller/stijndebrouwere">Dopplr</a>. Niet op twitter. Maar laat dat je niet tegenhouden om me te <a href="/nl/contact/">contacteren</a></p>
</div>