ul {
  padding-left: 20px; }
  ul#projects li {
    list-style-type: circle;
    margin: 8px 0; }

div#writing ul {
  padding: 0; }
div#writing li {
  list-style-type: none; }

div.filter {
  font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif;
  font-size: auto;
  line-height: 1;
  margin: 0.35em 0;
  border: 1px solid #cccccc;
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 0 5px 10px; }

span.togglebox {
  display: inline-block;
  padding: 5px 10px;
  margin: -5px 0 -5px 10px;
  background: #bbbbbb; }

table.archive {
  font-size: 13pt; }
  table.archive td:first-child {
    text-align: right; }
  table.archive td {
    padding-bottom: 10px; }
  table.archive td:last-child a {
    text-decoration: none;
    border-bottom: 1px dotted; }

a.badge {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif;
  font-size: 11pt;
  line-height: 1;
  margin: 0.35em 0;
  padding: 1px 4px;
  color: white;
  text-transform: uppercase;
  margin-right: 10px; }
  a.badge.post {
    background: #333333; }
  a.badge.guestpost {
    background: #3ca062; }
  a.badge.talk {
    background: #ca2c6f; }
  a.badge.print {
    background: #62a6ae; }
  a.badge.comment {
    background: #7aa3f7; }
  a.badge.review {
    background: #99aa64; }
  a.badge.quote {
    background: #d3b24f; }
