body.review div.content {
  display: inline-block;
  vertical-align: top;
  width: 450px; }
body.review p.section {
  font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif;
  font-size: auto;
  line-height: 1;
  margin: 0.35em 0;
  text-transform: uppercase;
  background: #eeeeee;
  padding: 10px; }
body.review h1 {
  text-transform: none;
  line-height: 1.4; }
body.review div#review p {
  font-size: 16px; }

p.prev.small, p.next.small {
  font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif;
  font-size: auto;
  line-height: 1;
  margin: 0.35em 0;
  display: inline-block; }
  p.prev.small a, p.next.small a {
    width: 20px;
    background: #eeeeee;
    display: inline-block;
    padding: 10px;
    text-decoration: none; }

p.prev.small {
  float: left;
  position: relative;
  left: -45px; }

p.next.small {
  float: right;
  position: relative;
  right: -45px; }

div#infocard {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin-left: 20px; }
  div#infocard p#lowdown {
    font-size: 16px; }

p#score {
  padding-top: 10px;
  font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0.35em 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ca2c6f; }
  p#score:after {
    margin-left: 10px;
    position: relative; }
  p#score.great:after {
    top: 5px;
    content: url("../images/great.png"); }
  p#score.okay:after {
    content: url("../images/okay.png"); }
  p#score.bad:after {
    content: url("../images/bad.png"); }

p#purchase {
  font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif;
  font-size: auto;
  line-height: 1;
  margin: 0.35em 0;
  padding: 10px 0 12px 0;
  border: solid #d4d4d4;
  border-width: 1px 0; }
  p#purchase a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #1d53c2;
    color: white;
    text-decoration: none;
    padding: 1px 3px;
    text-transform: uppercase;
    font-size: 11pt; }
    p#purchase a:hover {
      background: #3e79f1; }
