<!DOCTYPE html>
<html>
	<head>
		<title>stdout.be | about information architecture and the media industry</title>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript">
            /*
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12933299-1']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_setDomainName', 'stdout.be']);
            
            (function() {
            var ga = document.createElement('script');
            ga.src = ('https:' == document.location.protocol ?
                'https://ssl' : 'http://www') +
                '.google-analytics.com/ga.js';
            ga.setAttribute('async', 'async');
            document.documentElement.firstChild.appendChild(ga);
            })();
            */
        </script>
        <script type="text/javascript" src="http://use.typekit.com/uwo6abd.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/reviews.css" />
	</head>
	<body class="{{ page.language }} {{ page.layout }}">
        <div id="main">
            <div id="header" class="centered">
                <a href="/" class="avatar"><img src="/images/me.jpg" /></a>
                <div class="nav">
                    <ul id="language" class="inline">
                        <li><a href="{{ page.equiv }}" class="nl-be">NL</a></li>
                        <li><a href="{{ page.equiv }}" class="en-us">EN</a></li>
                    </ul>
                    <ul class="menu top inline">
                    {% if page.language == 'en' %}
                        <li><a href="/en/" class="blog">→ blog</a></li>
                        <li><a href="/en/services" class="work">→ services</a></li>
                        <li><a href="/en/reviews/review" class="contact">→ get in touch</a></li>
                        <li><a href="/en/about-me" class="about-me">→ about me</a></li>
                    {% else %}
                        <li><a href="/nl/" class="blog">→ blog</a></li>
                        <li><a href="/nl/werk" class="work">→ diensten</a></li>
                        <li><a href="/nl/contacteer-me" class="contact">→ contacteer me</a></li>
                        <li><a href="/nl/over-mij" class="about-me">→ over mij</a></li>
                    {% endif %}
                    </ul>
                </div>
                <p class="title"><a href="/">stdout.be</a></p>
        </div>
        <div class="centered">
            {{ content }}    
        </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery.inview.js"></script>
        <script type="text/javascript" src="/scripts/jquery.url.packed.js"></script>
        <script type="text/javascript" src="/scripts/scripts.js"></script>
	</body>
</html>
