<ul class="menu top inline">
{% ifequal LANGUAGE_CODE 'en-us' %}
    <li><a href="/nl/posts/2010/post/" class="blog">→ blog</a></li>
    <li><a href="/nl/werk/" class="work">→ services</a></li>
    <li><a href="/en/reviews/review/" class="contact">→ get in touch</a></li>
    <li><a href="/en/about-me/" class="about-me">→ about me</a></li>
{% else %}
    <li><a href="/nl/berichten/" class="blog">→ blog</a></li>
    <li><a href="/nl/werk/" class="work">→ diensten</a></li>
    <li><a href="/nl/contacteer-me/" class="contact">→ contacteer me</a></li>
    <li><a href="/nl/over-mij/" class="about-me">→ over mij</a></li>
{% endifequal %}
</ul>