---
layout: base
type: post
description:
  nl: Een blog over programmeren, informatie-architectuur en journalistiek
  en: A blog about programming, information architecture and journalism
---

<summary class="inset content">
    <div id="prevnext">
        {% if page.previous %}
        <div class="prev"><a href="{{ page.previous.url }}" title="Previous page: {{ page.previous.title }}">←</a></div>
        {% endif %}
        <div class="content">
            <p class="meta">
                <time>{{ page.date | date: "%Y/%m/%d" }}</time> in
                <a href="" class="category">information architecture</a>
            </p>
            <h1>{{ page.title }}</h1>
            <p><strong>Summary</strong> {{ page.summary }}</p>
        </div>
        {% if page.next %}
        <div class="next"><a href="{{ page.next.url }}" title="Next page: {{ page.next.title }}">→</a></div>
        {% endif %}
    </div>
</summary>

<article id="post" class="centered content">
    <div>
        {{ content }}
    </div>
</article>

<hr class="divider" />

<div id="comments" class="centered">
    <!--#include virtual="/director/comments/?permalink={{ page.url }}" -->
</div>
            
<div class="inset">
    <div class="centered">
        <ul id="categories">
            <li><a href="/coding/">coding</a></li>
            <li><a href="/journalism/">journalism</a></li>
            <li><a href="/ia/" class="active">information architecture</a></li>
            <li><a href="/society/">tech & society</a></li>
            <li><a href="/biz/">business & management</a></li>
            <li><a href="/inspiration/">inspirational</a></li>
            <li><a href="/personal/">personal</a></li>
        </ul>
    </div>
</div>
<div class="centered">
    <nav>
        <ul class="menu top inline">
        {% if page.language == 'en' %}
            <li><a href="/en/" class="blog">→ blog</a></li>
            <li><a href="/en/services" class="work">→ services</a></li>
            <li><a href="/en/reviews/review" class="contact">→ get in touch</a></li>
            <li><a href="/en/about-me" class="about-me">→ about me</a></li>
        {% else %}
            <li><a href="/nl/" class="blog">→ blog</a></li>
            <li><a href="/nl/werk" class="work">→ diensten</a></li>
            <li><a href="/nl/contacteer-me" class="contact">→ contacteer me</a></li>
            <li><a href="/nl/over-mij" class="about-me">→ over mij</a></li>
        {% endif %}
        </ul>
    </nav>
</div>