---
layout: base
type: post
description:
  nl: Een blog over programmeren, informatie-architectuur en journalistiek
  en: A blog about programming, information architecture and journalism
---

<summary class="inset content">
    <div id="prevnext">
        {% if page.previous %}
        <div class="prev"><a href="{{ page.previous.url }}" title="Previous page: {{ page.previous.title }}">←</a></div>
        {% endif %}
        <div class="content">
            <p class="meta">
                <time>{{ page.date | date: "%Y/%m/%d" }}</time> in
                <a href="" class="category">information architecture</a>
            </p>
            <h1>{{ page.title }}</h1>
            <p><strong>Summary</strong> {{ page.summary }}</p>
        </div>
        {% if page.next %}
        <div class="next"><a href="{{ page.next.url }}" title="Next page: {{ page.next.title }}">→</a></div>
        {% endif %}
    </div>
</summary>

<article id="post" class="centered content">
    <div>
        {{ content }}
    </div>
</article>

<hr class="divider" />

<div id="comments" class="centered">
    <h2>5 comments</h2>
    
    <div>
        <article class="comment">
            <header class="comment-about">
                <time class="comment-meta">4 June 2010</time>
                <img src="http://0.gravatar.com/avatar/4f194d106a90f485dc625c06eb9b433b?s=80&amp;d=identicon&amp;r=G" />
            </header>
            <div class="comment-content">
                <div class="comment-author">Wouter Ryckbosch <a href="" class="permalink" style="text-decoration: none; padding: 0 25px 0 5px;">¶</a></div>
                <p>Sympathiek, maar ik geloof dat je toch te veel eer geeft aan het huidige roster. Om WWTDD of YANP neer te pennen moet je wel degelijk een stuk vlotter ter taal zijn dan om een standaard-recensie te schrijven zoals jij ze ontleedt. Het gaat ook over gebrek aan talent, en niet enkel over een vastgeroest zitten in een overbodig genre.</p>
                <p>Verder deel ik je gevoel. Maar telkens dat sentiment me overvalt, herlees ik nog eens deze of gene recensie en besef ik dat er toch waarde kan zitten in het overdragen van meer dan slechts een puntige mening. Want YANP is minstens even vluchtig als het leuk is, niet?</p>
            </div>
        </article>

        <div class="comment by-author">
            <div class="comment-about">
                <div class="comment-meta">4 June 2010</div>
                <img src="http://0.gravatar.com/avatar/4f194d106a90f485dc625c06eb9b433b?s=80&amp;d=identicon&amp;r=G" />
            </div>
            <div class="comment-content">
                <div class="comment-author">Stijn Debrouwere</div>
                <p>Sympathiek, maar ik geloof dat je toch te veel eer geeft aan het huidige roster. Om WWTDD of YANP neer te pennen moet je wel degelijk een stuk vlotter ter taal zijn dan om een standaard-recensie te schrijven zoals jij ze ontleedt. Het gaat ook over gebrek aan talent, en niet enkel over een vastgeroest zitten in een overbodig genre.</p>
                <p>Verder deel ik je gevoel. Maar telkens dat sentiment me overvalt, herlees ik nog eens deze of gene recensie en besef ik dat er toch waarde kan zitten in het overdragen van meer dan slechts een puntige mening. Want YANP is minstens even vluchtig als het leuk is, niet?</p>
            </div>
        </div>

        <div id="comment-test" class="comment">
            <div class="comment-about">
                <div class="comment-meta">4 June 2010</div>
                <img src="http://0.gravatar.com/avatar/4f194d106a90f485dc625c06eb9b433b?s=80&amp;d=identicon&amp;r=G" />
            </div>
            <div class="comment-content">
                <div class="comment-author">Wouter Ryckbosch</div>
                <p>Sympathiek, maar ik geloof dat je toch te veel eer geeft aan het huidige roster. Om WWTDD of YANP neer te pennen moet je wel degelijk een stuk vlotter ter taal zijn dan om een standaard-recensie te schrijven zoals jij ze ontleedt. Het gaat ook over gebrek aan talent, en niet enkel over een vastgeroest zitten in een overbodig genre.</p>
                <p>Verder deel ik je gevoel. Maar telkens dat sentiment me overvalt, herlees ik nog eens deze of gene recensie en besef ik dat er toch waarde kan zitten in het overdragen van meer dan slechts een puntige mening. Want YANP is minstens even vluchtig als het leuk is, niet?</p>
            </div>
        </div>
        
        <div class="comment">
            <div class="comment-about">
                <div class="comment-meta">4 June 2010</div>
                <img src="http://0.gravatar.com/avatar/4f194d106a90f485dc625c06eb9b433b?s=80&amp;d=identicon&amp;r=G" />
            </div>
            <div class="comment-content">
                <div class="comment-author">Wouter Ryckbosch</div>
                <p>Sympathiek, maar ik geloof dat je toch te veel eer geeft aan het huidige roster. Om WWTDD of YANP neer te pennen moet je wel degelijk een stuk vlotter ter taal zijn dan om een standaard-recensie te schrijven zoals jij ze ontleedt. Het gaat ook over gebrek aan talent, en niet enkel over een vastgeroest zitten in een overbodig genre.</p>
                <p>Verder deel ik je gevoel. Maar telkens dat sentiment me overvalt, herlees ik nog eens deze of gene recensie en besef ik dat er toch waarde kan zitten in het overdragen van meer dan slechts een puntige mening. Want YANP is minstens even vluchtig als het leuk is, niet?</p>
            </div>
        </div>
    </div>
</div>
            
<div class="inset">
    <div class="centered">
        <ul id="categories">
            <li><a href="">coding</a></li>
            <li><a href="">journalism</a></li>
            <li><a href="" class="active">information architecture</a></li>
            <li><a href="">open data</a></li>
            <li><a href="">business & management</a></li>
            <li><a href="">inspirational</a></li>
            <li><a href="">personal</a></li>
        </ul>
    </div>
</div>
<div class="centered">
    <div class="nav">
        <ul class="menu top inline">
        {% if page.language == 'en' %}
            <li><a href="/en/" class="blog">→ blog</a></li>
            <li><a href="/en/services" class="work">→ services</a></li>
            <li><a href="/en/reviews/review" class="contact">→ get in touch</a></li>
            <li><a href="/en/about-me" class="about-me">→ about me</a></li>
        {% else %}
            <li><a href="/nl/" class="blog">→ blog</a></li>
            <li><a href="/nl/werk" class="work">→ diensten</a></li>
            <li><a href="/nl/contacteer-me" class="contact">→ contacteer me</a></li>
            <li><a href="/nl/over-mij" class="about-me">→ over mij</a></li>
        {% endif %}
        </ul>
    </div>
</div>