---
layout: post
type: talk
---

{{ content }}

{% comment %}
<p id="about-this">Reviews of every IA book under the sun</p>

<div class="centered">
    <div class="content">
        <p class="section">Talk</p>
        <h1>{{ page.delivered }}<br />{{ page.title }}</h1>
        <div id="review">
            {{ content }}
        </div>
    </div>
    <div id="infocard">
        <p class="section">Summary</p>
        <p id="lowdown">{{ page.event }}</p>
    </div>
</div>
<div class="centered">
    <div class="nav">
        <hr class="divider" />
       {% include "menu.html" %} 
    </div>
</div>
{% endcomment %}